<!-- TWITTER INFORMATION -->
<div class="col-sm-6">
    <div class="well">
       <h3 class="text-info">
          <span class="fa fa-twitter"></span> Twitter
       </h3>

        <% if (user.twitter.token) { %>
        
            <p>id:            <%= user.twitter.id %></p>
            <p>token:         <%= user.twitter.token %></p>
            <p>username:      <%= user.twitter.username %></p>
            <p>displayName:   <%= user.twitter.displayName %></p>

            <a href="/unlink/twitter" class="btn btn-info">Unlink</a>

        <% } else { %>

            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
            
        <% } %>

    </div>
 </div>