<!DOCTYPE html>
<html lang="en">
    
   <% include ../partials/head %>

   <body class="container">
      <div class="col-sm-6 col-sm-offset-3">
         <h1>Login</h1>

        <% include ../partials/alert %>

        <% include ../partials/login_form %>
      
        </div>
   </body>
</html>