<!doctype html>
<html>

    <% include ../partials/head %>
    
<body class="container">
        <div class="page-header text-center">
            <h1>
                <span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <% include ../partials/profile-local %>
            <% include ../partials/profile-facebook %>
            <% include ../partials/profile-twitter %>
            <% include ../partials/profile-google %>
            <% include ../partials/profile-github %>
            <% include ../partials/profile-instagram %>
            
        </div>
</body>
</html>